<div class="container is-fluid">
    <section class="section">
        <div class="container">
            <app-post *ngFor="let post of postsList" [post]="post" (authorData)="showUserModal($event)"
                (tag)="filterByTag($event)"></app-post>
        </div>
    </section>
</div>

<div class="modal" [ngClass]="{'is-active': userModal}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <app-user [userData]="userData" *ngIf="userModal"></app-user>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeUserModal()"></button>
</div>